header.header{
	padding: 25px 0 0;
	position: relative;
	z-index: 10;
}

.hdr-lft{
	float: left;
	width: 30%;
}
.hdr-rgt{
	float: right;
	width: 70%;
	display: flex;
	justify-content: flex-end;
}

.logo a{
	display: inline-block;
	vertical-align: baseline;
	width: 278px;
}
.logo a img{
	width: 100%;
}
.main-nav-menu > ul{
	padding-top: 18px;
	padding-right: 20px;
}
.main-nav-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 15px;
	position: relative;
}
.main-nav-menu > ul > li{
	
}
.main-nav-menu > ul > li > a{
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	padding-bottom: 40px;
	padding-left: 2px;
	padding-right: 2px;
}
.main-nav-menu > ul > li > a:hover{
	color: #0055FF;
}
.main-nav-menu > ul > li:nth-child(1){
	padding-right: 20px;
}
.main-nav-menu ul li:nth-child(2){
	padding-left: 20px;
}
.main-nav-menu > ul > li:nth-child(1):after{
	content: "";
	height: 25px;
	width: 1px;
	background: #bcbcbc;
	position: absolute;
	right: 0;
	top: -4px;
}
.main-nav-menu > ul > li > a:after{
    border-bottom: 4px solid #0055FF;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    bottom: 0;
    transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -webkit-transform: scale(0, 1);
    transform-origin: center center 0;
    transition: all 0.15s ease-out 0s;
    width: 100%;
}
.main-nav-menu > ul > li > a:hover:after{
    transform: scale(1, 1);
}

.main-nav-menu > ul > li.menu-item-has-children:after{
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: 0;
}
.main-nav-menu > ul > li.menu-item-has-children:hover:after{
	content: "\f106";
}

.main-nav-menu > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 205px;
	padding: 5px 0 0 0;
	background: #fff;
	z-index: 30;
	box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
}
.main-nav-menu > ul > li.menu-item-has-children:hover > ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
.main-nav-menu ul.sub-menu li{
	padding: 0 0 0 0;
	display: block;
	position: relative;
	border-bottom: 1px solid #eee;
}
.main-nav-menu ul.sub-menu li a{
	color: #9e9ea1;
	font-size: 14px;
	display: block;
	padding: 10px 20px;
}

.main-nav-menu ul.sub-menu li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #0055FF;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.main-nav-menu ul.sub-menu li:hover:before {
    height: 100%;
}

.main-nav-menu ul li:hover a{
	color: #0055FF;
}
.main-nav-menu > ul > li.current-menu-item > a:after{
	transform: scale(1, 1);
}

.humberger-menu-btn{
	text-align: center;
	cursor: pointer;
	height: 61px;
}
.humberger-menu-btn strong{
	padding-bottom: 10px;
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase;
	font-weight: 500;
	display: block;
	padding-top: 6px;
}
.hdr-btns{
	padding-right: 8px;
}
.humberger-menu-btn{
	padding-left: 12px;
}
.login-btn{
	padding: 3px 4px 3px;
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	margin-right: 15px;
}
.login-btn.login-btn-expend button{
	background: #0055FF;
}
.login-btn ul{
	display: none;
	width: 100%;
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	padding: 25px 10px 0;
}
.login-btn.login-btn-expend{
	border-radius: 1px 1px 0 0;
}
.login-btn.login-btn-expend button{
	background: #0055FF;
	color: #fff;
}
.login-btn.login-btn-expend ul{
	border-radius: 0 0 1px 1px;

}
.login-btn ul li{
	padding-bottom: 30px;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
}
.login-btn ul li a{
	color: #000;
}
.login-btn ul li a strong{
	font-weight: 700;
}
.login-btn button{
	background: #EAEAEA;
	width: 110px;
	height: 50px;
	padding: 3px 5px 0;
	color: #000000;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	cursor: pointer;
	display: inline-block;
	vertical-align: baseline;
}
.campaign-btn{
	background: #0055FF;
	width: 190px;
	height: 50px;
	padding: 3px 5px 0;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 900;
	cursor: pointer;
	display: inline-block;
	vertical-align: baseline;	
}

.humberger-menu-btn-lines{
	width: 33px;
	position: relative;
	height: 20px;
}
.humberger-menu-btn-lines span{
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background: #000000;
	top: 0;
}
.humberger-menu-btn-lines span:nth-child(2){
	top: 8px;
}
.humberger-menu-btn-lines span:nth-child(3){
	top: 16px;
}

.humber-menu-expend span:nth-child(1){
  top: 44%;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 0;
  width: 100%;
}
.humber-menu-expend span:nth-child(2){
	opacity: 0;
}
.humber-menu-expend span:nth-child(3) {
  top: 9px;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100%;
}
.humberger-menu-btn.humber-menu-expend{
	padding-left: 20px!important;
	padding-right: 20px!important;
	padding-top: 25px!important;
	width: 71px;
	height: 71px;
	margin-top: -11px;
	padding-top: 25px;
}
.humberger-menu-btn.humber-menu-expend .humberger-menu-btn-lines{
	width: 100%;
}
.humberger-menu-btn.humber-menu-expend strong{
	display: none;
}
.humber-menu-expend{
	background: #000000;
}
.humber-menu-expend strong{
	opacity: 0;
}
.humber-menu-expend span{
	background: #fff;
}


.humberger-menu-btn,
.hdr-btns,
.hdr-top-navbar{
	display: inline-block;
	vertical-align: baseline;
}
.header-inr{
	position: relative;
}
.humberger-menu{
	background: #0055FF;
	width: 231px;
	position: absolute;
	top: 100%;
	margin-top: -12px;
	color: #fff;
	right: 0;
	padding: 40px 35px 25px 30px;
	z-index: 15;
	text-align: right;
	display: none;
}
.humberger-menu ul{
	border-bottom: 1px solid #3174F8;
	margin-bottom: 30px;
	padding-bottom: 15px;
}
.humberger-menu ul li{
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	padding-bottom: 17px;
}
.humberger-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
}
.languages-area{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.languages-area label{
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 0;
}


.site-lang-holder {
    padding-top: 1px;
    float: right;
    position: relative;
    width: 45px;
    min-height: 15px;
}
.site-lang {
    position: absolute;
    padding: 11px 14px 5px 10px;
    transition: all 0.3s;
    z-index: 1;
    border-radius: 3px;
    margin-top: -10px;
    text-transform: capitalize;
    left: 0;
    right: 0;
    top: 0;
}
/*.site-lang:hover{
    -ms-box-shadow: 0px 0px 10px 3px #eee;
    -webkit-box-shadow: 0px 0px 10px 3px #eee;
    box-shadow: 0px 0px 10px 3px #eee;
}*/
.site-lang:hover a{
	display: block;
}
.site-lang a{
    display: block;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    color: #fff;
    line-height: 1;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.site-lang a {
	display: none;
	text-decoration: none;
}
.site-lang a.active{
	display: block;
}
.site-lang .ede-down-angle{
	position: relative;
}

.site-lang .ede-down-angle:after {
    content: "\f0d7";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    position: absolute;
    top: 2px;
    right: -13px;
    color: #fff!important;
}
.site-lang:hover .ede-down-angle:after{
	content: "\f0d8";
	top: 1px;
}
.logged-menu .humberger-menu-btn strong{
	display: none;
}
.logged-menu .humberger-menu-btn{
	padding-top: 18px;
}
.logout-main-nav-menu{
	display: flex;
}
.logged-main-nav-menu{
	display: none;
}

.logged-menu .main-nav.logout-main-nav{
	display: none;
}
.logged-menu .main-nav.logged-main-nav{
	display: flex;
}

.main-nav{
	display: flex;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;	
}

.logged-main-nav{
	display: none;

}

.hdr-login-profile {
	display: flex;
	padding: 0 15px 0 22px;
	position: relative;
	margin-right: 15px;
	cursor: pointer;
}
.hdr-login-profile strong{
	font-size: 14px;
	line-height: 16px;
	color: #0055FF;
	padding-top: 19px;
	padding-left: 10px;
}
.hdr-login-profile-img{
	width: 37px;
	height: 37px;
	border-radius: 100% 100%;
	margin-top: 8px;
}
.hdr-login-profile-img img{
	width: 100%;
	height: 100%;
	border-radius: 100% 100%;
}

.logged-menu .main-nav-menu > ul > li:nth-child(1):after{
    content: none;
}
.hdr-login-profile:before {
    content: "";
    height: 25px;
    width: 1px;
    background: #bcbcbc;
    position: absolute;
    left: -1px;
    top: 13px;
}

.logged-menu .main-nav-menu > ul{
	padding-right: 5px;
}


.hdr-login-profile:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    text-decoration: inherit;
    color: #000;
    font-size: 14px;
    position: absolute;
    top: 19px;
    right: 0;
}
.hdr-login-profile.login-btn-expend:after{
	content: "\f106"
}
.hdr-login-profile ul{
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: #E9EAEF;
	border-radius: 5px;
	padding: 25px 15px 0;
	margin-top: -17px;
	z-index: 15;
	display: none;
}
.hdr-login-profile ul li{
	font-size: 13px;
	line-height: 16px;
	padding-bottom: 25px;
}
.hdr-login-profile ul li a{
	color: #000;
}
.hdr-login-profile ul li:last-child{
	border-top: 1px solid #BCBCBC;
	padding-top: 15px;
}
.hdr-login-profile ul li:last-child i{
	margin-right: 10px;
	width: 20px;
	height: 20px;
	border-radius: 100% 100%;
	display: inline-block;
	text-align: center;
	background: #0055FF;
	font-size: 10px;
	position: relative;
	color: #fff;
}
.hdr-login-profile ul li:last-child{
	display: flex;
	align-items: center;
}
.hdr-login-profile ul li:last-child i:before{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}